<div class="modal" id="{ID}_info" tabindex="-1" aria-labelledby="{ID}_info" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title w-100">
                    {TITLE}
                </h3>
                <button type="button" class="btn-close mx-1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {CONTENT}
            </div>
        </div>
    </div>
</div>