<!-- X-Small -->
<div class="d-xxl-none d-xl-none d-lg-none d-md-none d-sm-none d-inline-block w-100 px-1">
    <audio controls preload="none" class="rounded-5 w-100" src="{AUDIO}"></audio>
</div>
<!-- Small -->
<div class="d-xxl-none d-xl-none d-lg-none d-md-none d-sm-inline-block d-none w-100 px-2">
    <audio controls preload="none" class="rounded-5 w-100" src="{AUDIO}"></audio>
</div>
<!-- Medium -->
<div class="d-xxl-none d-xl-none d-lg-none d-md-inline-block d-sm-none d-none w-100 px-3">
    <audio controls preload="none" class="rounded-5 w-100" src="{AUDIO}"></audio>
</div>
<!-- Large -->
<div class="d-xxl-none d-xl-none d-lg-inline-block d-md-none d-sm-none d-none w-100 px-4">
    <audio controls preload="none" class="rounded-5 w-100" src="{AUDIO}"></audio>
</div>
<!-- Extra large -->
<div class="d-xxl-none d-xl-inline-block d-lg-none d-md-none d-sm-none d-none w-100 px-5">
    <audio controls preload="none" class="rounded-5 w-100" src="{AUDIO}"></audio>
</div>
<!-- Extra extra large -->
<div class="d-xxl-inline-block d-xl-none d-lg-none d-md-none d-sm-none d-none w-100 px-5">
    <audio controls preload="none" class="rounded-5 w-100" src="{AUDIO}"></audio>
</div>